<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('partials/bootstrapcss.ejs') %>
    <link rel="stylesheet" href="/css/style.css" />
    <title>Reportes</title>
  </head>
  <body>
    <%- include('partials/navbar.ejs') %>

    <div class="container">
      <div class="row">
        <div class="col">
          <h1 class="text-center mt-3">Total de Productos a la venta <%= unicos.length %></h1>
          <center>
            <h2>Productos </h2>
          </center>
          
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="puesto">
            <ul>
              <% for(let producto of unicos) { %>
                <div class="npuestos">

                <h4><li><%= producto %></li></h4>  
                </div>
            
              <% }%>
            </div>
            </ul>
            <h2 class="mt-5">Productos repetidos que se venden en varios puestos:</h2>
            <ul>
              <!-- por cada key, value de repetidos2 imprima un li que diga: el key y el value -->
              <% for(let [key, value] of repetidos2) { %>
              <li>
                <strong>
                  Producto: <%= key %>, es vendido en los puestos numero: <%= value %>.
                </strong>
              </li>
              <% }%>
            </ul>
        </div>
      </div>
    </div>
    
    <%- include('partials/bootstrapjs.ejs') %>
  </body>
</html>
