<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('../partials/bootstrapcss.ejs') %>
    <link rel="stylesheet" href="/css/style.css" />
    <title>Todos los Puestos</title>
  </head>

  <body>
    <%- include('../partials/navbar.ejs') %>
    <div class="container">
      <div class="row">
        <div class="col">
          <h1 class="text-center mt-3">Puestos registrados</h1>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row justify-content align-center">
        <div class="col-12">
          <div class="puesto">
            <ul>
              <% for(let pues of puestos) { %>
              <div class="npuestos">
                <li>
                  <h4>
                    Numero:
                    <strong>
                      <a href="/puestos/<%=pues._id%>"><%= pues.numero %></a>
                    </strong>
                  </h4>
                </li>
              </div>

              <% }%>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row justify-content align-center">
        <div class="col">
          <center>
            <a href="/puestos/new" class="btn btn-primary mt-3" id="agregar"
              >Agregar un nuevo Puesto</a
            >
          </center>
        </div>
      </div>
    </div>
    <%- include('../partials/bootstrapjs.ejs') %>
  </body>
</html>
