<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('../partials/bootstrapcss.ejs') %>
    <link rel="stylesheet" href="/css/style.css" />
    <title>Puesto nuemro <%= puesto.numero %></title>
  </head>

  <body>
    <%- include('../partials/navbar.ejs') %>

    <div class="container">
      <div class="row">
        <div class="col">
          <h1 class="text-center mt-3">
            Numero de puesto: <%= puesto.numero %>
          </h1>
          <h2 class="text-center mt-3">Propietario: <%= puesto.duenio %></h2>
          <h3 class="text-center mt-3">Productos que vende:</h3>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="npuestos">
            <ul>
              <% for(let producto of puesto.productos) { %>
              <li>
                <h3 class="uppercase">
                  <a href="/productos/<%=producto._id%>" class="btn btn-secondary"
                    ><%= producto.nombre %></a
                  >
                </h3>
              </li>
              <% }%>
            </ul>
            <br>
            <br>
            <center>
            <a
              href="/puestos/<%=puesto._id%>/productos/new"
              id="#agregar"
              class="boton btn btn-success mt-3"
              >Agregar</a
            >
            <br />
            <a href="/puestos" class="boton btn btn-primary mt-3" id="#volver"
              >Volver</a
            >
            <br />
            <a
              href="/puestos/<%=puesto._id%>/edit"
              class="boton btn btn-info mt-3"
              id="#editar"
              >Editar puesto</a
            >
            <br />
            <div>
              <form
                action="/puestos/<%=puesto._id%>?_method=DELETE"
                method="POST"
                id="#eliminar"
              >
                <button class="boton btn btn-danger mt-3">Eliminar puesto</button>
              </form>
            </div>
          </center>
          </div>
        </div>
      </div>
    </div>

    <%- include('../partials/bootstrapjs.ejs') %>
  </body>
</html>
